@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 100px 20px 100px; */
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    background: #505050;
    color: #fff;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul button {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background: #c9420d;
}

nav ul button a {
    color: #fff;
}
